<h1>Application Development Using Angular</h1>
<hr>

<br>


<!-- <img src="../assets/download.png">
<app-login></app-login>
<br>
<br>
<app-friends></app-friends>
<br>
<br>
<app-productdetail></app-productdetail> -->
<!-- <br>
<br>
<app-productprice></app-productprice> -->

<!--<app-department-list></app-department-list> -->

<app-productdemo1 [category] ="cat1"></app-productdemo1>
<app-productdemo1 [category] ="cat2"></app-productdemo1>
<app-productdemo1 [category] ="cat3"></app-productdemo1>
<app-productdemo1 [category] ="cat4"></app-productdemo1>



