<h1>Switch Demo</h1>
<style>
li {
    display: inline-block;
    margin: 0 10px;
  }

  .c1
  {
    color : dodgerblue;
    border:1px solid dodgerblue;
    width :  100px;
    margin : 5px;
    float : left;
    text-align : center;
    background-color : white;
  }

  .c2
  {
     background-color: dodgerblue;
     color : white;
     margin: 0px;
  }

  .container
  {
      display:inline;
  }

</style>



<ul>
    <li>Display Mode:</li>
    <li>
        <img src="../../assets/list.png" width="30px" height="30px" (mouseover)="Image_Click('List')"> 
    </li> | 
    <li>
        <img src="../../assets/details.png" width="30px" height="40px" (mouseover)="Image_Click('Table')" >
    </li> |
    <li>
        <img src="../../assets/largeimage.png" width="30px" height="30px" (mouseover)="Image_Click('large')" >
    </li> |
    <li>
        <img src="../../assets/smallimage.png" width="30px" height="30px" (mouseover)="Image_Click('small')">
    </li>
</ul>



<section  [ngSwitch]="displayMode">

    <!-- Content for List Mode -->
      <article *ngSwitchCase=" 'List' ">
      <ul>
        <li  *ngFor="let item of prList">
            
            Id: {{item.pid}}
            Name: {{item.pname}}
            Price: {{item.price}}
        
        </li>
      </ul>
    </article>

    <!-- Content for Table Mode -->
	<article *ngSwitchCase=" 'Table' ">

        <table border="2" cellspacing="0" cellpadding="5" width="500">
          <tr class="bg1">
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
    
          <tr *ngFor="let item of prList; let i = index; let isEven = even; let isOdd = odd"
              [ngClass]="{'bg2':isEven, 'bg3':isOdd}">
            <td>{{item.pid}}</td>
            <td>{{item.pname}}</td>
            <td>{{item.price}}</td>
          </tr>
    
        </table>
      </article>

<!-- Content for Large Image Mode -->

      <article *ngSwitchCase=" 'large' ">

        <div class="c2">
            <div *ngFor="let item of prList" class="column">
                <div  class="c1" >
            
                    <div class="container">
                      <h4><b> Product Id :{{item.pid}}</b></h4>
                      <p> Product Name : {{item.pname}}</p>
                      <p>Price :{{item.price}}</p>
                      <p><img width="100" height="100" src="{{item.image}}"/></p>
                    </div>
                  </div>
             </div>
         </div>
    
       </article>

       <!-- Content for Small Image Mode -->

      <article *ngSwitchCase=" 'small' ">

        <div class="c2">
            <div *ngFor="let item of prList" class="column">
                <div  class="c1" >
            
                    <div class="container">
                      <h4><b> Product Id :{{item.pid}}</b></h4>
                      <p> Product Name : {{item.pname}}</p>
                      <p>Price :{{item.price}}</p>
                      <p><img width="40" height="40" src="{{item.image}}"/></p>
                    </div>
                  </div>
             </div>
         </div>
    
       </article>
        <article *ngSwitchDefault> **No Option Selected! </article>

    </section>