<!-- <h1>Application Development Using Angular</h1>
<hr>

<br> -->


<!-- <img src="../assets/download.png">
<app-login></app-login>
<br>
<br>
<app-friends></app-friends>
<br>
<br>
<app-productdetail></app-productdetail> -->
<!-- <br>
<br>
<app-productprice></app-productprice> -->

<!--<app-department-list></app-department-list> -->

<!-- <app-productdemo1 [cat] ="cat1"></app-productdemo1> -->
<!-- <app-productdemo1 [category] ="cat2"></app-productdemo1>
<app-productdemo1 [category] ="cat3"></app-productdemo1>
<app-productdemo1 [category] ="cat4"></app-productdemo1> -->
<!-- <app-filter-options (onOptionClick)="sortList($event)"></app-filter-options>

<hr>

<app-employee-list [sortValue]="sortOption"></app-employee-list> -->

<!-- <app-userinfo></app-userinfo> -->

<!-- <app-employeegrade></app-employeegrade> -->

<!-- <app-employeesalaryfilter></app-employeesalaryfilter> -->

<!-- <app-employee-di></app-employee-di> -->

<!-- <app-switchdemo></app-switchdemo> -->


<!-- <app-app-fancy-card>
    <app-productdetail></app-productdetail> 
</app-app-fancy-card>

<app-app-fancy-card>
    <app-productprice></app-productprice>
</app-app-fancy-card>

<app-app-fancy-card>
    <app-department-list></app-department-list>
</app-app-fancy-card> -->

<!-- <app-todolist></app-todolist> -->

<!-- <app-employeehttpcomponent></app-employeehttpcomponent> -->

<!-- <app-employeehttp></app-employeehttp> -->
<!-- <app-model-forms></app-model-forms> -->

<hr/>

<!-- <p appShadowDirective>Attribute Custom Directive Text</p>

<p [appShadowDirective]="color1">Attribute Custom Directive Text</p>


<p [appShadowDirective]="color2">Attribute Custom Directive Text</p>

<hr/>


<hr> -->

<!-- <div *appAdminDirective="'Scott'" style="background-image:linear-gradient(green,yellow);">
    <h3>This content is for Scott Admin</h3>
</div>

<div *appAdminDirective="'James'" style="background-image:linear-gradient(red,yellow);">
    <h3>This content is for Scott Admin</h3>
</div>

<div *appAdminDirective="'Robert'" style="background-image:linear-gradient(blue,red);">
    <h3>This content is for Scott Admin</h3>
</div> -->


<!-- <h3 align="center">Developing Single Page Application using Angular</h3>
<hr/>

<div style="text-align: center;">
<a [routerLink]=" ['/'] ">Home <img src="../assets/home.png" width="20px" height="20px"></a>  |
<a [routerLink]=" ['/AboutUs'] ">About Us <img src="../assets/about.png" width="20px" height="20px"></a>  |
<a [routerLink]=" ['/Categories'] ">Categories <img src="../assets/category.png" width="20px" height="20px"></a>  |
<a [routerLink]=" ['/Login'] ">Login <img src="../assets/login.png" width="20px" height="20px"></a>  |
<a [routerLink]=" ['/ContactUs'] ">Contact Us <img src="../assets/contactus.png" width="20px" height="20px"></a>  |
</div>

<hr/>


    <router-outlet></router-outlet> -->


    <!-- <app-app-login></app-app-login> -->
    <app-productprice></app-productprice>





