<p style="font-weight:bold">Department-List</p>
<br>

<input type="text" placeholder="Dept No" [(ngModel)]="deptno">
<input type="text" placeholder="Dept Name" [(ngModel)]="dname">
<input type="text" placeholder="Location" [(ngModel)]="loc">
<button (click)="addDept_click()">Add Dept</button>

<hr>

<br>

<table border="2" cellspacing="1" cellpadding="2">
    <tr>
        <th>Department No</th>
        <th>Department Name</th>
        <th>Location</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let item of deptlist">
        <td>{{item.deptno}}</td>
        <td>{{item.dname}}</td>
        <td>{{item.loc}}</td>
        <td>
            <a (click)="delete_click(item.deptno)" href="javascript:void(0);">
                <img src="../../assets/delete.png" width="30px" height="20px">
            </a>
        </td>
        <td>
            <a (click)="update_click(item.deptno)" href="javascript:void(0);">
                <img src="../../assets/update1.png" width="30px" height="30px">
            </a>
        </td>
        <td>
            <a (click)="select_click(item.deptno)" href="javascript:void(0);">
                <img src="../../assets/select.png" width="30px" height="30px">
            </a>
        </td>

    </tr>



    <tr *ngIf="deptlist.length == 0">
        <td colspan="4">** No departments avaialble in the database</td>
    </tr>

    <!-- <button [hidden]="isDisabled" (click)="save_click(item.deptno)">Save</button> -->
</table>


