<h1>Employee Details</h1>
<hr/>

<div>
    <table border="2px" cellspacing="2px" cellpadding="2px">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Job</th>
            <th>Employee Salary</th>
            <th>Department No</th>
        </tr>

        <tr *ngFor="let item of sorted_emp_list">
            <td>{{item.empId}}</td>
            <td>{{item.empName}}</td>
           <td>{{item.empJob}}</td> 
           <td>{{item.empSalary}}</td> 
           <td>{{item.empDeptno}}</td> 

        </tr>

        <!-- <tr colspan="5" *ngIf="item.length == 0">*No data available</tr> -->
    </table>
</div>
