<h3>Perform CRUD operations with remote data in Angular</h3>
<hr/>

<input type="text"  [(ngModel)]="empName"  placeholder="Employee Name"  />
<input type="text"  [(ngModel)]="empJob"  placeholder="Job"  />
<input type="text"  [(ngModel)]="empSalary"  placeholder="Salary"  />
<input type="text"  [(ngModel)]="empDeptno"  placeholder="Dept No"  />
<br/><br/>
<input type="button"  value="Get Employee" (click)="getData_click()"  />
<input type="button"  value="Add Employee" (click)="addData_click()"  />
<input type="button"  value="Update Employee" (click)="updateData_click()"  />
<input type="button"  value="Clear Fields" (click)="clearFields()"  />
<hr/>

<hr/>

<table border="2"   cellspacing="0">
	<tr>
	  <th>Employee Id</th>
	  <th>Employee Name</th>
	  <th>Job</th>
	  <th>Salary</th>
	  <th>Dept No</th>
    <th></th>
	</tr>

	<tr *ngFor="let item of employeeArray">
	  <td>{{item.empId}}</td>
	  <td>{{item.empName}}</td>
	  <td>{{item.empJob}}</td>
	  <td>{{item.empSalary}}</td>
	  <td>{{item.empDeptno}}</td>
    <td align="center">
      <a href="javascript:void(0);" (click)="selectData_click(item.empId)">Select</a> |
      <a href="javascript:void(0);" (click)="deleteData_click(item.empId)">Delete</a>
    </td>
	</tr>
  </table>