<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th,tr {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}
</style>

<table>
    <tr style="text-align:center;font-weight: bold;">Employee Details</tr>
    <tr>
        <td>Employee ID</td>
        <td>{{empId}}</td>      
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>{{name}}</td>      
    </tr>
    <tr>
        <td>Job</td>
        <td>{{job}}</td>      
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{salary}}</td>      
    </tr>
    <tr>
        <td>Department No</td>
        <td>{{deptno}}</td>      
    </tr>

</table>
